.astro/
.DS_Store
.env
.env.production
.env*
.idea/
.pnpm-debug.log*
.vercel
*.tsbuildinfo
/.next/
/build
/node_modules
/out/
dist/
next-env.d.ts
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*